<form asp-action="AddFile" asp-controller="Add" method="post" enctype="multipart/form-data">
    <input multiple type="file" name="uploads" />
    <br />
    <br />
    <input type="submit" value="Загрузить" />
</form>
