

<form asp-action="InputValues">
    <label>Месяц</label><br />
    <input type="text" name="month" /><br /><br />
    <label>Год</label><br />
    <input type="text" name="year" /><br /><br />
    <input type="submit" value="Показать" />
</form>